body {
    background: #eee;
}

h1 {
    color: #0b8043;
    display: inline;
}

.main-title {
    text-align: center;
}

.boards-list {

}

.boards-names {
    display: block;
    text-align: center;
}

.post-heading {
    font-size: small;
    font-style: italic;
    margin: 1px 5px;
    padding: 3px;
    background-color: rgb(180, 176, 183);
    border-radius: 3px;
}

.submit-form {
    margin-left: auto;
    display: block;
    margin-right: auto;
    width: 50%;
}

#thread-form {
    display: block;
}

form {
    display: block;
    margin: 0;
}

#form {
    display: none;
}

.form-invoked {
    display: block !important;
}

paper-button {
    background: #ff9b8e;
}

paper-card.op-post {
    background-color: #f02c0b;
    display: table;
    margin: 30px;
    padding: 50px 10px;
}

img {
    width: 80px;
}

paper-card.boards-list.x-scope-paper-card-0 {
    width: 70px;
    text-align: center;
    display: block;
}

li {
    font-size: larger;
}

paper-card.op-post-in-thread {
    background-color: #f02c0b;
    display: table;
    margin: 30px;
    padding: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.board-title {
    display: inline;
}

.board-highlighted {
    background-color: #c6ff00;
}

.posts {
    display: table;
    margin: 3px;
    padding: 5px;
}

.invisible-posts {
    display: none;
}

.selected {
    background-color: #b4b0b7 !important;
}

.buttons {
    display: inline;
}

.paper-card-0 {
    background-color: #c4f024;
}

.x-scope-paper-card-0 {
    padding: 10px;
    margin-left: 30px;
}

paper-card div {
    margin: 1px 5px 3px;
}

.paper-icon-button-0 {
    width: 20px;
    height: 20px;
    padding: 0;
}

paper-ripple {
    display: none;
}

a:link {
    font-size: 16px;
    color: #f02c0b;
}

a:visited {
    font-size: 16px;
    color: #7b787d
}
